apiVersion: v1
kind: Secret
metadata:
  name: manu-secrets
type: Opaque
stringData:
  JWT_SECRET: "<your-jwt-secret>"
  GEMINI_API_KEY: "<your-gemini-api-key>"
  MONGO_URI_AUTH: "mongodb+srv://<user>:<password>@<cluster>.mongodb.net/manu-auth?retryWrites=true&w=majority"
  MONGO_URI_ORDERS: "mongodb+srv://<user>:<password>@<cluster>.mongodb.net/foodVendor?retryWrites=true&w=majority"
